{% extends 'main_app/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Delete Inspection</h4>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete the following inspection?</p>
                    <p>Location: {{ inspection.location }}</p>
                    <p>Inspection Type: {{ inspection.inspection_type }}</p>
                    <p>Make: {{ inspection.make }}</p>
                    <p>Model: {{ inspection.model }}</p>
                    <p>Year: {{ inspection.year }}</p>
                    <p>VIN: {{ inspection.vin }}</p>
                    <p>Comments: {{ inspection.comments }}</p>
                    <p>Timestamp: {{ inspection.timestamp }}</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'inspections' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}